.trustedBy h1{
   font-size: 25px;
   align-items: center;
   padding-left: 450px;
   padding-top: 35px;
   padding-bottom: 35px;

}
.trustedBy_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    
}
.trustedBy_info img:hover{
     background-color: aqua;
     color: white;
     border-radius: 15px;
}